<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Add Minutes - HealthSuite</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Le styles -->
    <link th:href="@{/assets/css/bootstrap.css}" rel="stylesheet">
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way
      to the bottom of the topbar */
        }
        .error {
            color: #ff0000;
        }
        .errorblock {
            color: #000;
            background-color: #ffEEEE;
            border: 3px solid #ff0000;
            padding: 8px;
            margin: 16px;
        }
    </style>
    <link th:href="@{/assets/css/bootstrap-responsive.css}" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
      </script>
    <![endif]-->
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" th:href="@{/assets/ico/favicon.ico}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          th:href="@{/assets/ico/apple-touch-icon-144-precomposed.png}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          th:href="@{/assets/ico/apple-touch-icon-114-precomposed.png}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          th:href="@{/assets/ico/apple-touch-icon-72-precomposed.png}">
    <link rel="apple-touch-icon-precomposed"
          th:href="@{/assets/ico/apple-touch-icon-57-precomposed.png}">

    <script type="text/javascript" th:src="@{/jquery-1.8.3.js}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $.getJSON(
                /*[[@{/activities.json}]]*/ '/activities.json',
                {
                    ajax: 'true'
                },
                function(data) {
                    var html = '<option value="">--Please select one--</option>';
                    var len = data.length;
                    for (var i = 0; i < len; i++) {
                        html += '<option value="' + data[i].desc + '">'
                            + data[i].desc
                            + '</option>';
                    }
                    html += '</option>';

                    $('#activities').html(html);
                });
        });
    </script>
</head>
<body>
<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">
                <span th:text="#{minutes.exercised}">Exercise Minutes</span>
            </a>
            <ul class="nav">
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div>
        <h1>
            <span th:text="#{minutes.exercised}">Exercise Minutes</span>
        </h1>
    </div>
    <a class="btn" th:href="@{/addMinutes(language='en')}"> English </a>
    <a class="btn" th:href="@{/addMinutes(language='es')}"> Spanish </a>
    <br/><br/>
    <form th:action="@{/addMinutes}" th:object="${exercise}" method="post">
        <div th:if="${#fields.hasErrors('*')}" class="errorblock">
            <ul>
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
            </ul>
        </div>
        <div class="control-group">
            <label for="textinput1">
                <span th:text="#{minutes.text}">Enter Minutes:</span>
            </label>
            <input type="number" id="textinput1" th:field="*{minutes}"/>
            <span th:if="${#fields.hasErrors('minutes')}" class="error" th:errors="*{minutes}"></span>
        </div>

        <div class="control-group">
            <label for="selectinput1">
                <span th:text="#{minutes.activity}">Activity:</span>
            </label>
            <select id="activities" th:field="*{activity}">
                <option value="">--Please select one--</option>
            </select>
        </div>

        <input type="submit" class="btn" th:value="#{minutes.button.enter}"/>
    </form>

    <span class="label" th:if="${goal != null}">
        <span th:text="#{minutes.goal}">Goal:</span>
        <span th:text="${goal.minutes}"></span>
    </span>
</div>

<script th:src="@{/assets/js/bootstrap.js}"></script>
</body>
</html>

