<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Add Users - HealthSuite</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap-responsive.css}" rel="stylesheet">
    <!-- Custom CSS -->
    <link th:href="@{/css/navbar-styles.css}" rel="stylesheet">
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
    </script>
    <![endif]-->
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" th:href="@{/favicon.ico}">
</head>
<body>
<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand navbar-brand" th:href="@{/}">HealthSuite</a>
            <ul class="nav pull-right">
                <li th:if="${authenticated}">
                    <a href="#">
                        <span th:text="'Welcome, ' + ${username}"></span>
                    </a>
                </li>
                <li th:if="${authenticated}">
                    <a th:href="@{/logout}">Logout</a>
                </li>
                <li th:unless="${authenticated}">
                    <a th:href="@{/login}">Login</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div>
        <h1>Add User</h1>
        <p>
            Add a new user to HealthSuite. <br> &nbsp;
        </p>
    </div>

    <form th:action="@{/add-users}" th:object="${user}" method="post">
        <div th:if="${error != null}" class="errorblock">
            <span th:text="${error}"></span>
        </div>
        <div th:if="${#fields.hasErrors('*')}" class="errorblock">
            <ul>
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
            </ul>
        </div>
        
        <div class="control-group">
            <label for="username"> Username: </label>
            <input type="text" id="username" th:field="*{username}" 
                   th:class="${#fields.hasErrors('username')} ? 'error' : ''"/>
            <span th:if="${#fields.hasErrors('username')}" class="error" th:errors="*{username}"></span>
        </div>
        <br/>

        <div class="control-group">
            <label for="email"> Email: </label>
            <input type="email" id="email" th:field="*{email}" 
                   th:class="${#fields.hasErrors('email')} ? 'error' : ''"/>
            <span th:if="${#fields.hasErrors('email')}" class="error" th:errors="*{email}"></span>
        </div>
        <br/>

        <div class="control-group">
            <label for="firstName"> First Name: </label>
            <input type="text" id="firstName" th:field="*{firstName}" 
                   th:class="${#fields.hasErrors('firstName')} ? 'error' : ''"/>
            <span th:if="${#fields.hasErrors('firstName')}" class="error" th:errors="*{firstName}"></span>
        </div>
        <br/>

        <div class="control-group">
            <label for="lastName"> Last Name: </label>
            <input type="text" id="lastName" th:field="*{lastName}" 
                   th:class="${#fields.hasErrors('lastName')} ? 'error' : ''"/>
            <span th:if="${#fields.hasErrors('lastName')}" class="error" th:errors="*{lastName}"></span>
        </div>
        <br/>

        <div class="control-group">
            <label for="role"> Role (Optional): </label>
            <input type="text" id="role" th:field="*{role}" 
                   th:class="${#fields.hasErrors('role')} ? 'error' : ''"/>
            <span th:if="${#fields.hasErrors('role')}" class="error" th:errors="*{role}"></span>
        </div>
        <br/>

        <br/>

        <input type="submit" class="btn btn-primary" value="Add User"/>
        <a class="btn" th:href="@{/}">Cancel</a>
    </form>

    <div class="control-group"></div>
</div>

<script th:src="@{/jquery-1.8.3.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
</body>
</html>

