/* ============================================================================
   Navbar Styles
   ============================================================================ 
*/

.navbar-brand {
    font-weight: bold;
    font-size: 1.3em;
}

.navbar .nav li a {
    color: #ecf0f1;
}

.navbar .nav li a:hover {
    color: #3498db;
}

