<head th:fragment="head(title)" xmlns:th="http://www.thymeleaf.org">
    <meta charset="utf-8">
    <title th:text="${title}">HealthSuite</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap-responsive.css}" rel="stylesheet">
    <link th:href="@{/css/navbar-styles.css}" rel="stylesheet">
    <link th:href="@{/css/sidebar-styles.css}" rel="stylesheet">
    <link th:href="@{/css/form-styles.css}" rel="stylesheet">
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <link rel="shortcut icon" th:href="@{/favicon.ico}">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>